.App {
  text-align: center;
}

.hud {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .hud {
    width: 50%;
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #2c3e50;
  --text-color: #ecf0f1fa;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
  width: 100%;
  margin: 0 auto; /* Center the header */
  padding: 20px 10px; /* Adjust padding for smaller screens */
  box-sizing: border-box; /* Include padding and border in element's width/height */
}

main {
  flex: 1;
  padding: 20px;
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  width: 100%;
}
.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./original.png');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  padding: 20px;
  color: var(--text-color);
}

.weather-container, .info-container {
  background-color: rgba(255, 255, 255, 0.8); /* Light, semi-transparent background */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-container {
  font-size: 1.2rem;
}

.info-container {
  font-size: 1rem;
  color: var(--text-color);
}
/* Dark Mode Adjustments */
[data-theme="dark"] {
  --bg-color: #2c3e50;
  --text-color: #ecf0f1; /* Light text for better contrast in dark mode */
}

[data-theme="dark"] .weather-container, 
[data-theme="dark"] .info-container {
  background-color: rgba(44, 62, 80, 0.8); /* Darker background for containers */
  color: #ecf0f1; /* Light text inside containers */
}

[data-theme="dark"] a {
  color: #1abc9c; /* Lighter color for links */
}
